{% macro displaySourceList(source_list) %}
    <div class="row">
    {% for source in source_list %}
    <div class="col-md-3">
        
        <div class=" source-card card mb-4  bg-dark text-white"  >
           <img src=" {{img}} " class="card-img image-fluid" alt="news-image">  
                <a href="{{source.url}}">{{ source.name| truncate(20) }}</a>
                <p>{{ source.description }}</p>
                 <p> Written by: {{ source.author }}</p> 
                <i>Published on: {{ source.publishedAt }}</i> 
            
        </div>
    </div>
    {% endfor %}
    </div>

{% endmacro %}

{% macro displayArticleList(article_list) %}

    {% for article in article_list %}
        <div class="container news-card">
            <img src="{{article.urlToImage}}" alt="news-image" class="img-responsive">
            <li class="text-center">
                <h2>{{ article.title }}</h2>
                <p> Written by: {{ article.author }}</p>
                <i>Published on: {{ article.publishedAt }}</i>
                <p>{{ article.description }}</p>
                <a href="{{article.url}}">Read article</a>
            </li>
        </div>
    {% endfor %}

{% endmacro %}