<div class="container fluid" style="margin-bottom: 9%; ">
<nav class="container-fluid navbar navbar-light bg-primary fixed-top navbar-expand-lg shadow-sm" style="padding-left: 50px; padding-right: 50px;">
    <a class="navbar-brand text-light" > <span style="font-size: 20px;">Latest News</span></a>
     <div id="navbarNav">
       <ul class="navbar-nav">
         <li class="nav-item col-md-3">
            <a class="nav-link text-light" href="/app/templates/source.html" > <span style="font-size: 18px;" >Sources</span> </a>
        </li>

        
        
      </ul>
      
      
    </div>
</nav>
</div>

